* {
    /*background:                     #25344Bff;*/
    background:                     #e5e5e5ff;
    background-alt:                 #00000000;
    foreground:                     #404040EE;
    border:               			#1A73E9FF;
    border-alt:               		#45E3FFff;
    selected:               		#D7D7D7FF;
    urgent:                         #DA4453FF;
}
